@charset "utf-8";
/* CSS Document */
html,body,div,p,form,label,ul,li,dl,dt,dd,ol,img,button,h1,h2,h3,h4,h5,h6,b,em,strong,small{margin:0;padding:0;border:0;list-style:none;font-style:normal;font-weight:normal;}
dl,dt,dd{display:block;margin:0;}
a{text-decoration:none;}
body{font-family:Microsoft YaHei,Verdana,Arial,SimSun;color:#666;font-size:14px;background:#f6f6f6; overflow:hidden}
.block, #block{display:block;}
.none, #none{display:none;}
/*****头部和尾部******/
.top{height:5px;line-height:5px;background:#f6f6f6;width:100%;position:fixed;z-index:255;top:79px;text-align:center;}
.bottom{height:5px;line-height:5px;background:#f6f6f6;width:100%;position:fixed;z-index:255;bottom:50px;text-align:center;}
#header{height:80px;line-height:80px;background:#00a5a5;width:100%;position:absolute;z-index:5;top:0;text-align:center;}
.logo{line-height:80px;font-size:30px;color:#fff; letter-spacing:3px;margin-left:50px;float:left;}
.navigation{float:right;margin:5px 50px 0 0;color:#fff;font-size:14px;}
.navigation ul li{height:30px;line-height:30px;text-align:center;float:left;margin-left:15px;}
.navigation ul li a{color:#fff;}
.navigation ul li a:hover{color:#32323a;}
#footer{height:50px;line-height:50px;background:#5e5e5e;width:100%;position:absolute;z-index:200;bottom:0;text-align:center;}
#footer p{text-align:center;line-height:50px;color:#fbfbfb;}
/*****主体部分******/
#content{ background:#FC0;width:100%;top:80px;position:absolute;z-index:10;bottom:50px;}
/**左侧菜单***/
.left_menu{float:left;width:230px;background:#32323a;height:100%;position:absolute;top:0;left:-40px;overflow:auto;border-left:5px solid #f6f6f6;}
.left_menu ul li {width:300px; display:inline; }
.left_menu ul li .list-item a{width:230px;padding-left:110px;text-decoration:none;font-size:14px;color:#f5f5f5;line-height:30px;display:block;}
.left_menu ul li a.noline { border-bottom:none; }
.left_menu ul li a:hover{ color:#fff; }
.left_menu ul li a.selected:hover { color:#fff; }
.left_menu ul li h4 { cursor:pointer; background:url(../images/bg1.png) no-repeat 270px 18px; padding-left:60px; text-decoration:none; font-size:16px; color:#f5f5f5; display:block;  line-height:48px; font-weight:normal; }
.left_menu ul li.noline { border-bottom:none; }
.left_menu ul li.selected h4 { background-position:270px -45px;background-color:#00a5a5;}
.left_menu li .list-item { padding:5px 0; position:relative; zoom:1 ;background:#11b6b6;overflow:hidden;}
.left_menu h4 span{display: block;float: left;width: 20px;height: 26px;margin-right: 10px;padding-right: 10px;background-repeat: no-repeat;margin-top: 12px;}
.M1 span{background:url(../images/ioc.png) 0 -6px;}
.M2 span{background:url(../images/ioc.png) -36px -6px;}
.M3 span{background:url(../images/ioc.png) -72px -6px;}
.M4 span{background:url(../images/ioc.png) -36px -40px;}
.M5 span{background:url(../images/ioc.png) -72px -40px;}
.M6 span{background:url(../images/ioc.png) -1px -40px;}
.M7 span{background:url(../images/ioc.png) -1px -70px;}
.M8 span{background:url(../images/ioc.png) -36px -70px;}
.M9 span{background:url(../images/ioc.png) -72px -70px;}
.M10 span{background:url(../images/ioc.png) -3px -105px;}
/***右侧内容****/
.m-right{margin-left:190px;height:100%;}
.right-nav{height:50px;border-bottom:1px solid #d1d1d1;background:#f6f6f6;}
.right-nav li{float:left;margin-left:5px;line-height:50px;color:#464646;font-size: 14px;}
.right-nav li img{position:relative;top:17px;left:15px;}
.right-nav li a{color:#464646;}
.right-nav li a:hover{color:#00a5a5; text-decoration:underline;}
.main{width:100%;height:100%;background:#f6f6f6;overflow:auto;}

                                                      